* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sans";
  user-select: none;
}

@font-face {
  font-family: "sans";
  src: url(font/sans.ttf);
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #19172e;
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 0;
  color: white;
  padding-top: 40px;
}

.box {
  position: relative;
  z-index: 1000;
}

.container {
  position: relative;
  width: 380px;
  min-height: 400px;
  background: #252339;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dycalendar {
  width: 100%;
  padding: 20px;
}

#dycalendar table {
  width: 100%;
  margin-top: 10px;
  border-spacing: 8px;
}

#dycalendar table tr:nth-child(1) td {
  background: #fff;
  color: #111;
  border-radius: 4px;
  font-weight: 600;
}

#dycalendar table td {
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

#dycalendar table td:hover {
  background: #fff;
  color: #111 !important;
}

.dycalendar-month-container .dycalendar-today-date,
.dycalendar-target-date {
  background: #fff !important;
  color: #111 !important;
  border-radius: 8px;
}

.dycalendar-month-container
  .dycalendar-header
  .dycalendar-prev-next-btn.prev-btn {
  background: #fff;
  color: #111;
  width: 44px;
  height: 38px;
  left: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.dycalendar-month-container
  .dycalendar-header
  .dycalendar-prev-next-btn.next-btn {
  background: #fff;
  color: #111;
  width: 44px;
  height: 38px;
  right: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.dycalendar-month-container
  .dycalendar-today-btn {
    margin-top: 10px
}

.dycalendar-month-container
  .dycalendar-today-btn 
  .today-btn {
  background: #fff;
  color: #111;
  display: inline-block;
  width: 30%;
  border-radius: 4px;
  justify-content: center;
  font-size: 20px;
  padding: 5px;
}

.today-btn:hover {
  cursor: pointer;
}

.dycalendar-month-container .dycalendar-span-month-year {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}

footer {
  text-align: center;
  color: white;
  font-size: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 5px;
  line-height: 3vh;
}

footer a:visited {
  color: inherit;
}
