html {
    font-size: 10px;
    background: url("https://wallpaperaccess.com/full/1524018.jpg") bottom center ;
    overflow: hidden;
    user-select: none;
    background-position: center;
    background-attachment: fixed;
    padding-left: rgb(255, 0, 0);

}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'sans';
}

@font-face {
    src: url('font/sans.ttf');
    font-family: 'sans';
}
h1 {
  font-size:5.5rem;
  color: #FEFFE2;
  font-family: "Arvo", cursive;
  text-align: center;
  text-shadow: 3px 0 #DA0463;



}

span{
    font-weight: 100;
}

h4 {
    font-size: 2rem;
    text-align: center;
    top: 0;
    padding-top: 5px;
    color: #fff;
}
.A {
  background-image: url("image/tom1.png");
}

.S{
  background-image: url("image/tom2.png");
}

.D {
  background-image: url("image/tom1.png");
}

.F{
  background-image: url("image/crash.png");
}

.G {
  background-image: url("image/images.jfif");
}

.H {
  background-image: url("image/crash.png");
}

.J  {
  background-image: url("image/snare.png");
}

.K {
  background-image: url("image/tomm5.jfif");
}

.L  {
  background-image: url("image/piano.jfif");
}


.keys {
    display: flex;
    flex-direction: row;
    flex:1;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}

.key {

  border: 10px solid: white;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  padding:1rem 0.5rem;
  transistion: all 0.07s ease;
  line-height: 1.5;
  font-weight: 900;
  color: #009DAE;
  text-shadow: 3px 0 :#E04DB0;
  border-radius: 30px;
  display: inline-block;
  width: 125px;
  height: 125px;
  text-align: center;
  margin: 15px;
  background-color: white;
}

.playing {

    border-color: #bb86fc;
    box-shadow: 0 0 2rem #bb86fc;
}

kbd {
  display: block;
    font-size: 4.3rem;
    font-family: 'Arvo', cursive;
    color: #0F2C67;
text-shadow: 3px 0 #DBEDF3;
    cursor: pointer;

}

.sound {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #483434;
}

footer {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
}

footer a:visited {
    color: inherit;
}
