html {
    font-size: 10px;
    background-color: #19172e;
    overflow: hidden;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'sans';
}

@font-face {
    src: url('font/sans.ttf');
    font-family: 'sans';
}

h3 {
    font-size: 3rem;
    text-align: center;
    color: white;
}

h4 {
    font-size: 2rem;
    text-align: center;
    top: 0;
    padding-top: 5px;
    color: #fff;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: 0.4rem solid white;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background-color: #212121;
}

.playing {
    transform: scale(1.1);
    border-color: #bb86fc;
    box-shadow: 0 0 2rem #bb86fc;
}

kbd {
    display: block;
    font-size: 4rem;
    cursor: pointer;
}

.sound {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #bb86fc;
}

footer {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
}

footer a:visited {
    color: inherit;
}
