* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #19172e;
  font-family: "sans";
  transition:  0.5s;
}

@font-face {
  src: url("font/sans.ttf");
  font-family: "sans";
}

.heading {
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 100px;
  line-height: 3vh;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(assets/clock.png);
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.clock:hover {
  transform: scale(1.05);
}

.clock:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 10000;
  box-shadow: 0 0 15px #fff;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.clock .hour,
.hr {
  width: 160px;
  height: 160px;
}

.clock .min,
.mn {
  width: 190px;
  height: 190px;
}

.clock .sec,
.sc {
  width: 230px;
  height: 230px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 80px;
  background: #bb86fc;
  z-index: 10;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 10px #bb86fc;
}

.mn:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 10px #fff;
}

.sc:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #70efde;
  z-index: 12;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 10px #70efde;
}

footer {
  text-align: center;
  color: white;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  padding: 5px;
  line-height: 3vh;
}

footer a:visited {
  color: inherit;
}

button#theme-toggle {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #1b1919;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button#theme-toggle:hover {
  background-color: #3700b3;
  transform: scale(1.05);
}

button#theme-toggle:focus {
  outline: none;
}

@media (max-width: 600px) {
  .clock {
    width: 250px;
    height: 250px;
  }
  
  .clock .hour,
  .hr {
    width: 120px;
    height: 120px;
  }

  .clock .min,
  .mn {
    width: 140px;
    height: 140px;
  }

  .clock .sec,
  .sc {
    width: 180px;
    height: 180px;
  }
}

/* Theme Toggle */
body.light-theme {
  background: #8f8df9;
}

body.light-theme .clock:before {
  background: #000;
  box-shadow: 0 0 15px #000;
}

body.light-theme .hr:before {
  background: #6200ea;
  box-shadow: 0 0 10px #6200ea;
}

body.light-theme .mn:before {
  background: #000;
  box-shadow: 0 0 10px #000;
}

body.light-theme .sc:before {
  background: #03dac6;
  box-shadow: 0 0 10px #03dac6;
}

body.light-theme .heading,
body.light-theme footer {
  color: #000;
}

body.light-theme button#theme-toggle {
  background-color: #bb86fc;
}

body.light-theme button#theme-toggle:hover {
  background-color: #3700b3;
}
