*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat";
    font-size: 20px;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: rgb(45, 41, 41);
    flex-direction: column;
    padding: 50px 0;
}

section h1{
    color: rgba(255,255,255,.322);
    text-align: center;
    width: 100%;
    font-size: 55px;
    margin-bottom: 12px;
}

section p{
    text-align: center;
    color: rgba(255,255,255,.322);
    width: 100%;
    margin-bottom: 40px;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.texts p{
    color: black;
    text-align: left;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.texts p.replay{
    text-align: right;
}