* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.blue-div {
  background-image: url(../images/pattern-bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35%;
  .heading {
    color: white;
    font-size: 1.8em;
    height: 30%;
    margin-block-start: 20px;
  }
  .search {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;

    #input-box {
      display: flex;
      width: 35%;
      height: 30%;
      input {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
      }
      input[type="text"] {
        padding-left: 20px;
      }
      input:focus {
        outline: none;
      }
      input[type="button"] {
        border-radius: 0px 10px 10px 0px;
        height: 100%;
        width: 12%;
        background-color: black;
        color: white;
        font-size: large;

      }
      input[type="button"]:active {
        background-color: hsl(0, 0%, 17%);
      }
    }
  }
}

.display {
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  height: 20%;
  width: 70%;
  position: absolute;
  top: 160px;
  left: 190px;
  z-index: 2;
  div {
    width: 25%;
    color: hsl(0, 0%, 59%);
    font-size: 0.6em;
    margin-inline-start: 30px;
    border-right: 1px solid hsl(0, 0%, 59%);
    height: 55%;
    p {
      margin-top: 0;
    }
  }
  div:nth-child(4) {
    border: none;
  }
  .dyn-data{
    color: hsl(0, 0%, 17%);
    font-size: 2em;
  }
}

#map {
  height: 65%;
  z-index: 1;
}
