* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(39, 38, 38);
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #30cdfd, #0e063a);
    color: #fff;
    margin: 100px auto;
    border-radius: 30px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    color: #555;
    padding: 10px 25px;
    border-radius: 20px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    color: #fff;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
}

.search button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather, .error {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px; /* Adjusted from font-feature-settings */
    margin-top: 10px;
}
