body {
  font-family: sans-serif;
  background-color: #e8d8fc;
  display: block;
  margin: 8px;
}
#app {
  padding: 30px;
  display: block;
  margin: 45px auto;
  background-color: #f7eefa;
  border-radius: 12px;
  border: 3px solid whitesmoke;
  box-shadow: 2px 2px 20px grey;
  width: 35%;
}
.btn {
  background-color: rgb(143, 35, 125);
  border: 1px solid rgb(143, 35, 125);
}
.btn:hover {
  background-color: #e8d8fc;
  border: 1px solid #e8d8fc;
  color: black;
}
h3 {
  font-family: "Merienda", cursive;
  font-family: "Open Sans", sans-serif;
  font-weight: 500px;
  line-height: 45px;
  margin-left: 30px;
  font-weight: bolder;
  font-size: 64px;
  margin-bottom: 30 px;
}
li {
  list-style: none;
  color: grey;
  font-weight: 20px;
}
.style {
  color: rgb(143, 35, 125);
}
#icon {
  vertical-align: 24px;
  width: 76px;
}
#temp {
  font-size: 76px;
  font-family: "Merienda", cursive;
  font-family: "Open Sans", sans-serif;
  color: rgb(143, 35, 125);
}
#celcius {
  font-size: 22px;
  vertical-align: 42px;
}
hr {
  color: #8f6e8f;
}
h5 {
  font-size: 12px;
  text-align: center;
  color: purple;
}
.day {
  font-size: 22px;
}
.temperature {
  font-size: 18px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  text-align: center;
  color: rgb(143, 35, 125);
}

@media (max-width: 1800px) {
  #app{
    width: 36rem;
  }
}
