* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sans";
  background-color: #19172e;
  color: white;
  user-select: none;
}

@font-face {
  font-family: "sans";
  src: url(font/sans.ttf);
}

h2 {
  top: 0;
  padding-top: 20px;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.container {
  max-width: 290px;
  margin: 50px auto 0;
  
}

#display {
  text-align: right;
  height: 65px;
  padding-right: 10px;
  line-height: 80px;
  font-size: 1.5rem;
  border-radius: 20px 20px 0 0;
  background-color: white;
  color: black;
}

.buttons {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
}

.button {
  border: 0.5px solid white;
  line-height: 60px;
  text-align: center;
  font-size: 1.7rem;
  cursor: pointer;
}

.button.left {
  border-radius: 0 0 0 15px;
}

.button.right {
  border-radius: 0 0 15px 0;
  size: 40px;
}

#equal {
  background-color: rgb(85, 85, 255);
}

#equal:active {
  background-color: #1e8e3e !important;
}

.button:active {
  background-color: #1e8e3e;
}

footer {
  background-color: #19172e;
  text-align: center;
  color: white;
  font-size: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  line-height: 3vh;
}

footer a:visited {
  color: inherit;
}

.bubbles {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.bubbles span {
  height: 40px;
  width: 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  animation: move 10s linear infinite;
  position: relative;
  overflow: hidden;

}

@keyframes move {
  100% {
      transform: translateY(-90vh);
  }
}

.bubbles span.one {
  animation-delay: 2.25s;
  transform: scale(2.15);
}
.bubbles span.two {
  animation-delay: 3.25s;
  transform: scale(1.15);
}
.bubbles span.three {
  animation-delay: 6s;
  transform: scale(2.15);
  align-items: left;
}
.bubbles span.four {
  animation-delay: 7s;
  transform: scale(0.5);
  visibility: hidden;
}
.bubbles span.five {
  animation-delay: 4s;
  transform: scale(2.5);
}
.bubbles span.six {
  animation-delay: 3s;
  transform: scale(1.5);
}
.bubbles span.seven {
  animation-delay: 2.5s;
  transform: scale(2.15);
}

.bubbles span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 40%;
  transform: skew(45deg) translateX(150px);
  background: rgba(255, 255, 255, 0.15);
  animation: mirror 3s linear infinite;
  
}

@keyframes mirror {
  100% {
      transform: translateX(-450px);
  }
}

.bubbles span.one:before {
  animation-delay: 1.5s;
  
}
.bubbles span.two:before {
  animation-delay: 3.5s;

}
.bubbles span.four:before {
  animation-delay: 2.5s;

}
.bubbles span.five:before {
  animation-delay: 2.5s;

}
.bubbles span.three:before {
  animation-delay: 4.5s;

}
.bubbles span.six:before {
  animation-delay: 0.5s;

}
.bubbles span.seven:before {
  animation-delay: 6s;

}