*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "sans";
    color: black;
  }

@font-face {
    src: url("font/sans.ttf");
    font-family: "sans";
}

.heading{
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

.btn{
    background: none;
    color: #111;
    padding: 15px 60px;
    font-size: 1.5rem;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background-color: #364765;
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 1.5rem;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
    line-height: 3vh;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer a:visited {
    color: inherit;
  }
  
  footer a:hover {
    text-decoration: underline;
  }