.one{
    background-color: aqua;
}
.two{
    background-color: gold;
}

.three{
    background-color: purple;
}

.four{
    background-color: gold;
}
.five{
    background-color: sienna;
}
.six{
    background-color: aqua;
}
.seven{
    background-color: gold;
}

.eight{
    background-color: purple;
}
.nine{
    background-color: hotpink;
}
.ten{
    background-color: sienna;
}
.eleven{
    background-color: aqua;
}
.twelve{
    background-color: gold;
}

.thirteen{
    background-color: purple;
}
.fourteen{
    background-color: gold;
}
.fifteen{
    background-color: sienna;
}
.sixteen{
    background-color: aqua;
}
.seventeen{
    background-color: gold;
}
.eighteen{
    background-color: purple;
}
.ninteen{
    background-color: pink;
}
.twenty{
    background-color: sienna;
}

.twenty-one{
    background-color: aqua;
}
.twenty-two{
    background-color: gold;
}

.twenty-three{
    background-color: purple;
}
.twenty-four{
    background-color: gold;
}
.twenty-five{
    background-color: sienna;
}
.twenty-six{
    background-color: gold;
}
.twenty-seven{
    background-color: purple;
}
.twenty-eight{
    background-color: yellow;
}
.twenty-nine{
    background-color: sienna;
}
.twenty-nine{
    background-color: aqua;
}
.thirty{
    background-color: gold;
}
.thirty-one{
    background-color: purple;
}
.thirty-two{
    background-color: coral;
}
.thirty-three{
    background-color: pink;
}
.thirty-four{
    background-color: white;
}
.thirty-five{
    background-color: rebeccapurple
}
.thirty-six{
    background-color: yellow;
}
.thirty-seven{
    background-color: orange;
}
.thirty-seven{
    background-color: green;
}
.thirty-eight{
    background-color: aqua;
}
.thirty-nine{
    background-color: gold;
}
.fourty{
    background-color: purple;
}
.fourty-one{
    background-color: green;
}
.fourty-two{
    background-color: white;
}
.fifty{
    background-color: yellow;
}
.fifty-one{
    background-color: lawngreen
}
.main{
    color: red;
    font-style: oblique;
}
.all{
    background-image: url("pexels-rovenimagescom-949587.jpg");
}
.we{
    color: aqua;
}