* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#FAE8E0;
    text-align: center;

}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0.38rem rgba(0, 0, 0, 1);
    font-size: 8vmin;
    color: brown;
    background-color: #FCB5AC;
}
.turn
{
    font-size: 1.5rem ;
    color: brown;
    font-style: oblique;
}
.reset {
    margin-top: 1.5rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border-style: none;
}

.newbtn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border-style: none;
}

#message {
    color:brown;
    font-size: 5vmin;
    padding: 4px;
   
}
.msg
{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}
