@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "open-Sans", sans-serif;
  background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pal {
  width: 40rem;
  background: var(--white);
  padding: 5rem 3rem;
  border-radius: 5px;
}

input {
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-sec);
  padding: 1rem 5px;
  font-size: 1.6rem;
}

button {
  width: 25%;
  padding: 1rem 5px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: var(--white);
  background: var(--color-primary);
  cursor: pointer;
}

p.result {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-grey);
}
