/* landing Page */


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

*{
margin: 0;
padding: 0;

font-family: dosis;
font-weight: 700;
}

first{
height: 100vh;
width: 100vw;

display: flex;
justify-content: center;
align-items: center;

background-color: rgba(14, 9, 41, 0.899);
}

first .cont{
border: 0px;
border-radius: 70px;
width: 60%;
height: 80%;

display: flex;
flex-direction: column;

gap: 40px;
padding: 40px;
text-align: center;

background-color: white;
}

.cont .title{
display: flex;
flex-direction: column;
gap: 40px;
}

.btn{
width: 150px;
height: 50px;

border: 0px;
border-radius: 50px;
margin: 0 10px 10px 10px;

background-color: rgba(14, 9, 41, 0.899);
color: rgb(255, 255, 255);
font-size: large;

transition: all 0.3s ease;
}

.btn:hover{
width: 160px;
height: 60px;

background-color: rgba(29, 22, 69, 0.723);
font-size: 24px;
}

.btn a{
text-decoration: none;
color: white;
font-weight: bolder;
color: white;

}

/* Instructions */

#Instructions{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(14, 9, 41, 0.899);
}



#Instructions .inst-container{
    height: 80%;

    background-color: white;

    border-radius: 70px;
    
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 28px;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.sub-heading {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}
.instruction {
    margin-left: 20px;
}

/* Toss */

toss{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
background-color: rgba(14, 9, 41, 0.899);
}

.coin-container {
position: relative;

background-color: white;
border: 0px;
border-radius: 70px;
width: 60%;
height: 80%;  

display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;
}

.coin {
width: 100px;
height: 100px;
background-color: #ffd700; /* gold color */
border-radius: 50%;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
transform-style: preserve-3d;
transition: transform 0.5s ease-in-out;

display: flex;
justify-content: center;
align-items: center;
color: aliceblue;
}

#res{
font-size: 48px;
}

#toss-res{
    height: 100vh;
    width: 100vw;

    background-color: rgba(14, 9, 41, 0.899);
    display: flex;
    align-items: center;
    justify-content: center;
}

.toss-res-cont{
    height: 80%;
    width: 60%;
    border: 0px;
    border-radius: 70px;

    align-content: center;
    text-align: center;
    line-height:60px;
    background-color: white;
}

/* Game */

game{
    height: 100vh;
    width: 100vw;
    background-color: rgba(14, 9, 41, 0.899);

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-cont{
    height: 80%;
    width: 80%;

    border: 0px;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.game-cont .score-cont{
    height: 20%;
    width: 80%;

    border: 0px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgba(14, 9, 41, 0.899);
}

.score-cont .score{
    height: 50%;
    width: 150px;
    background-color: aquamarine;

    border-radius: 20px;

    text-align: center;
}

.graphic-cont{
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.status{
    height: 100%;
    width: 20%;
    font-weight: 900;
    font-size: 48px;

    text-align: center;
}

.image img{
    width: 100%;
}

.choice-cont{
    height: 20%;
    width: 80%;

    border: 0px;
    border-radius: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgba(14, 9, 41, 0.899);
}

.choice{
    height: 50px;
    width: 50px;

    border: 0px;
    border-radius: 50%;

    background-color: white;

    text-align: center;
    color: red;
    font-size: 38px;
    font-weight: 900;
}


/* Results */

.out-cont{
    width: 100vw;
    height: 100vh;

    display: flex;
    
    align-items: center;
    justify-content: center;
    text-align: center;
}

.out-cont #out-title h3 a{
    text-decoration: none;
    color: rgb(250, 0, 0);
}
