.page {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
  }
  
  html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #1a1818;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    text-align: center;
  }
  
  header {
    text-align: center;
  }
  header span {
    font-size: 60px;
    font-size: 2em;
    color: #f16059;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
  }
  
  .ball {
  position: relative;
  }
  .ball img{
    width: 100%;
    max-width: 40em;
  }
  .answer {
    color: rgb(14, 12, 12);
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 38%;
    left: 46%;
    width: 11%;
    font-size: 80%;
  }
  
  #questionButton {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-size: 1.875em;
    color: #f8f8f8;
    background-color: #f16059;
    border-radius: 5px;
    border: none;
    padding: .5em 1em;
    width: 80%;
    max-width: 15em;
    margin-top: 1em;
  }
  
