* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #19172e;
  color: white;
  font-family: "sans";
  overflow: hidden;
}

@font-face {
  font-family: "sans";
  src: url(font/sans.ttf);
}

h1{
  text-align: center;
  top: 0;
  padding-top: 50px;
}

.player {
  height: 78vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.track-art {
  margin: 25px;
  height: 150px;
  width: 150px;
  background-image: url("assets/ncs.jpg");
  background-size: cover;
  border-radius: 15%;
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 2.5rem;
}

.track-artist {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track {
  padding: 15px;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider#special,
.volume_slider#special {
  appearance: none;
  height: 5px;
  background: white;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 5px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 5px;
}

footer {
  text-align: center;
  font-size: 1rem;
  bottom: 0;
  padding: 5px;
  line-height: 3vh;
}

footer a:visited {
  color: inherit;
}