*{
    margin: 0;
    padding: 0;
    background-color: rgb(118, 189, 159);
}

.container{
    background-color: rgb(118, 189, 159);
    background-size: cover;
    visibility: hidden;

}

.road{
    background-color: black;
    height: 100vh;
    width: 400px;
    margin: auto;
    position: relative;
    border-left: 5px white dashed;
    border-right: 5px white dashed;

}

.lines {
    background-color: white;
    height: 100px;
    width: 10px;
    position: absolute;
    margin-left: 195px;
}

.car {
    height: 75px;
    width: 41px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    background-image: url("car2.png");
    background-size: cover;
    bottom:120px;
    background-position-x: center;
}

.enemies {
    height: 90px;
    width: 41px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    background-image: url("enemycar2.png");
    -webkit-transform: scaleY(-1);
    background-size: cover;
    bottom: 120px;
    background-position-x: center;
}

.button-container-div {           
    height: 100vh;
    display: flex;
}

.btn {
    background-color: crimson;
    color: #fff;
    border: 1px solid;
    padding: 10px;
    width: 200px;
    outline: none;
    margin: auto;
}