body {
    width: 200px;
    height: 200px;
    background-color: black;
}

p {

    margin: 15px 15px;
    font-size: 15px;
    color: rgb(239, 239, 255);
    border-radius: 6px;
    border: 2px solid lightblue;
    padding: 10px;
}

#btn {
    align-items: center;
    border: 2px;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 15px 55px;
    color: rgb(19, 18, 18);
    font-weight: bold;
    cursor: pointer;
    background-color: aqua;
}