@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #7fca37;

}
.container{
    background: #ffffff;
    width: 80vmin;
    font-size: 16px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 4rem 1.8rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.7em 3em rgba(44, 71, 18,0.4);
}

h1{
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
}
label{
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
}
input{
    width: 100%;
    font-size: 1.25em;
    padding: 0.6em 0.55em;
    margin-top: 0.5rem;
    border-radius: 0.2em;
    border: 1px solid #0a0125;

}
.container .wrapper:nth-child(2){
    width: 50%;
    margin: 3em auto 1.25em auto;
}
 
.container .wrapper:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.6em;
}

@media screen and (max-width:575px) {
    .container{
        font-size: 14px;
    }
    .container .wrapper:nth-child(2){
        width: 100%;
        margin: 3.5em auto 0.6em auto;
    }
    .container .wrapper:nth-child(3){
        flex-direction: column;
    }
}