@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: #c68c53a8;
    font-family: 'Architects Daughter', cursive;
}

button {
    padding: 8px;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    border-radius: 5px;
    background: whitesmoke;
    border: 1px solid lightgray;
}

button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}

#modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#inner_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#inner_modal textarea {
    width: 276px;
    height: 276px;
    padding: 25px;
    outline: none;
    resize: none;
    font-size: 1.5rem;
    font-family: inherit;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

#inner_modal i {
    font-size: 1.4rem;
    color: gray;
    cursor: pointer;
    margin-top: -285px;
    margin-left: -35px;
    transition: 1s ease-in-out;
}

#inner_modal i:hover {
    color: lightgray;
}

.container {
    width: 1280px;
    margin: auto;
}

#header {
    color: white;
    padding: 0 20px;
    min-height: 70px;
    text-shadow: 1px 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fas {
    color: #c2ff3d;
}

#all_notes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.note {
    width: 300px;
    height: 300px;
    transition: 2s;
    cursor: pointer;
    overflow-wrap: break-word;
    box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.75);
}

.note h1 {
    font-size: 1.5rem;
}