body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fbf9f9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
}
.game-container h3 {
    text-align: center;
    margin-top: 35px;
    font-size: 10px;
}

.bowl {
    width: 100px;
    height: 100px;
    background-color: rgb(201, 207, 32);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background: transparent;
    transition: transform 0.5s;
}
.bowl img {
    width: 100px;
    height: 60px;
    margin-top: -30px;
}
.bowl img:hover{
    transform: scale(1.1);
    transition: .1s;
}

.ball {
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 60px; 
    left: calc(50% - 15px); 
    transition: all 0.5s;
}

.bowl:hover {
    transform: scale(1.1);
    transition: .1s;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
    border: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover {
    background-color: rgb(59, 236, 14);
    transform: scale(1.1);
    transition: .1s;
}
