@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #cc2b5e 10%, #753a88 100%);
}

.product-card{
    position: relative;
    max-width: 355px;
    width: 100%;
    border-radius: 25px;
    padding: 20px 30px 30px 30px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    overflow: hidden;
}

.product-card .logo-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card .logo-cart img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.product-card .logo-cart i{
    font-size: 27px;
    color: #707070;
    cursor: pointer;
    transition: color 0.3s ease;
}

.product-card .logo-cart i:hover{
    color: #333;
}
.product-card .main-images{
    position: relative;
    height: 210px;
}
.product-card .main-images img{
    position: absolute;
    height: 300px;
    width: 300px;
    padding-bottom:20px;
    object-fit: cover;
    transform: rotate(18deg);
    left: 12px;
    top: -40px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.product-card .main-images img.active{
    opacity: 1;
}
.product-card .shoe-details .shoe_name{
    font-size: 24px;
    font-weight: 500;
    color: #161616;
}
.product-card .shoe-details p{
    font-size: 12px;
    font-weight: 400;
    color: #333;
    text-align: justify;
}
.product-card .shoe-details .stars i{
    margin: 0 -1px;
    color: #333;
}
.product-card .color-price .color-option{
    display: flex;
    align-items: center;
}
.color-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.color-price .color-option .color{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-right: 8px;
}
.color-price .circles{
    display: flex;
}
.color-option .circles .circle{
    height:18px;
    width: 18px;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.4s ease;
}
#blue{
background: #0071c7;
}
#blue.active{
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0071c7;
}
#red{
background: #c21633;
}
#red.active{
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #c21633;
}
#brown{
background: #725e49;
}
#brown.active{
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #725e49;
}
.color-price .price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.color-price .price .price_num{
    font-size: 25px;
    font-weight: 600;
    color: #707070;
}
.color-price .price .price_letter{
    font-size: 10px;
    font-weight: 600;
    margin-top: -4px;
    color: #707070;
}
.product-card .button{
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: 25px;
    margin-top: 30px;
    overflow: hidden;
}
.product-card .button .button-layer{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background-image: linear-gradient(135deg, #cc2b5e 10%, #753a88 100%);
    transition: all 0.4s ease;
    border-radius: 25px;
}
.product-card .button:hover .button-layer{
    left: 0;
}
.product-card .button button{
    position: relative;
    height: 100%;
    width: 100%;
    background:none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}