*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "sans";
    src: url(font/sans.ttf);
}

body{
    display: flex;
    flex-direction: column;
    background-color: #19172e;
    color: white;
    font-family: "sans";
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    position: absolute;    
    top: 0;
    padding-top: 140px;
    font-size:3rem;
}

#stopwatch{
    font-size: 2.5rem;
}

#buttons{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
}

button{
    cursor: pointer;
    margin: 10px;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 10%;
    border: none;
    outline: none;
}

button:active{
    background-color: #1e8e3e;
}

footer {
    position: absolute;
    text-align: center;
    font-size: 1rem;
    bottom: 0;
    padding: 5px;
    line-height: 3vh;
}

footer a:visited {
    color: inherit;
}