body{
  background: #eee;
  letter-spacing: 2px;
  min-height: 101vh;
}

a:hover, a:active{
  text-decoration: none;
}

input[type="text"], select{ 
    outline: none;
}

.col-xs-1{
  padding:0;
}

h1{
  font-family: 'Arvo', sans-serif;
  /* color:#E35865; */
  color:#3234e7;
}

header.container-fluid{
  margin: 0;
  /* background-color: #39404A; */
  background-color: #6680a4;
  box-shadow: 0 0px 3px 3px rgba(0,0,0,.4);
  height: 100vh;
  min-height: 150px;
}

.container{
  max-width: 720px;
  margin: auto;
  padding: 0 50px;
}

ul{
  padding: 0;
}

li{
  letter-spacing: 0;
  padding: 30px;
  list-style: none;
  min-height: 200px;
  background: #fff;
  margin: 50px auto;
  text-align: left;
  -webkit-transition: box-shadow .2s ease-out .2s;
  -moz-transition: box-shadow .2s ease-out .2s;
  -o-transition: box-shadow .2s ease-out .2s;
  transition: box-shadow .2s ease-out .2s;
  word-spacing: 2px;
}

li > h3{
  margin-top:0;
  color: #E35865;
  line-height: 2;
}

li > p{
  color: #666;
  line-height: 2;
}

input{
  padding:0;
  border-radius: 0;
  border: none;
  font-size: 20px;
  color: #bbb;
  background:none;
  letter-spacing: 1px;
  word-spacing: 10px;
  font-family: 'Arvo', sans-serif;
  padding: 0;
  line-height: 25px;
}

#searchBox{
  padding-top: 40vh;
}

button{
  background: none;
  border: none;
}

.form{
  padding: 10px 0;
  padding-right: 15px;
  /* border: 3px solid #E35865; */
  border: 3px solid #3234e7;
  
}

.form.col-xs-12{
  padding-left: 0;
}

.glyphicon{
  /* color: #E35865; */
  color: #3234e7;
  font-size: 20px;
  line-height: 25px;
}

.glyphicon-search{
  cursor: pointer;

}

.glyphicon-search:hover{

}

.bar{
  vertical-align: super;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}


li:hover{
  box-shadow: 0 0 15px 15px rgba(0,0,0,.1);
}

::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #bbb;
  opacity: 1;
}

:-ms-input-placeholder {  
  color: #bbb;
  opacity: 1;
}

#mainBody{
  font-family: 'Montserrat', sans-serif;
}

/*********media query starts ***********/

@media screen and (max-width: 420px){
  #searchBar,.glyphicon{
    font-size: 16px;
  } 
  
  h1{
    font-size: 28px;
  } 
}