*, *::after, *::before{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Work Sans, Geneva;
}

.app-wrap{
    z-index: 1;
    margin-top: 2rem;    
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-image: linear-gradient(to bottom, rgb(255, 216, 250), rgb(255, 255, 255));
    max-width: 100%;
    width:1200px;
    box-shadow: inset 0 0px 10px #333;
    border-radius: 10px ;
    opacity: 0.8;
}

header{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-family: Montserrat;
}

header input{
    width: 100%;
    align-items: center;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);

    color: #202020;
    border-radius: 16px 0 16px 0;
    border-bottom: 3px solid rgb(158, 158, 158);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

header input :focus{
    background-color: rgba(255,255,255,0.8);
}

.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location .city{
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: Verdana;
    margin-bottom: 10px;

}
 
.location .date{
    font-weight: bold;
    font-style: italic;
}

.coordinates{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.coordinates .lat{
    font-weight: normal;
    font-size: 1.5rem;
}

.coordinates .lon{
    font-weight: normal;
    font-size: 1.5rem;
}

#lat-value{
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: bold;
}

#lon-value{
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: bold;
}

.weather{
    text-align: center;
    margin: 20px;
    font-weight: bold;
    color: rgb(0, 255, 213);
    font-size: 50px;
    text-shadow: 2px 5px rgb(77, 77, 77);
    font-family: Concert One;
}

.air-quality{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parameters{
    margin: 10px;
    font-size: 20px;
    color: crimson;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.air-parameters{
    font-weight: bold;
    font-family: Prompt;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.parameters-options{
    font-weight: bold;
    font-family: Geneva;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.last-update{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: oblique;
    font-weight: lighter;
    font-size:12px;
}

#vid{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}
