.FilterBlockScope{
    position: absolute;
    width: 50%;
    left: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 8%;

    transform: translateX(-50%);
}
.ParentFilter{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.quetion{
    width: 75%;
    padding: 4.8px 4.8px;
    border-radius: 14.4px;
    font-size: 20.8px;
    border: solid rgb(255, 255, 255) 2px;
    display: flex;
    justify-content: center;
    color: white;
    animation-name: updown;
    animation-timing-function: ease-in;
    perspective: 100px;
    transform: rotateY(10deg);
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transform-origin:left;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

.answer{
    position: relative;
    margin-top: 20.8px;
    background-color: #B0B2C1;
    height: 35.2px;
    font-size: 19.2px;
    width: 75%;
    animation-name: updown;
    animation-timing-function: ease-in;
    perspective: 100px;
    transform: rotateY(10deg);
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transform-origin:right;
    border-radius: 14.4px;
    padding: 8px 8px;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid whitesmoke 2px;
}

@keyframes updown
{
    from{
        transform:rotate(2deg)
    }
    to{
        transform: rotate((-2deg));
    }
}
.arrow-left {
    position: absolute;
    top: 72%;
    left: 96%;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #C41D78; 
  }

  .arrow-right {
    position: absolute;
    top: 79%;
    left: 0%;
    width: 0; 
    transform: rotate(10deg);
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #B0B2C1;
  }
  .answer{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .question-die-reel{
      font-size: 30px;
      text-align: center;
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #FF7A1F;
  }
  .answer-die-reel{
      /* color: #8BD0EF; */
      color: white;
      font-weight: 600;
      font-size: 60px;
  }
  .quetion-reel-3{
      color: whitesmoke;
      position: relative;
      font-size: 30px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
      padding: 15px 15px;
      background-color: #05C5F2;
      margin-top: -3.2px;
      /* height: 64px; */
      height: 140px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
  }
  .indicatediv{
      position: absolute;
      top: 84%;
      left: 80%;
      width: 0; 
      height: 0; 
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent; 
      border-right: 30px solid #05C5F2; 
      transform: rotate(45deg);

  }
  .emoji-Adjust{
      font-size: 80px;
  }