.ReelPage{
    height: 100vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#videoPlayer{
    height: 100vh;
}
.Videopage{
    position: relative;
    height: 100vh;
}
.leftblock{
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.466);
}
.rightblock{
    position: absolute;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    width: 25%;
    top: 0%;
    left: 75%;
}
.bottomblock{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.637);
    top: 100%;
    left: 25%;
    transform: translateX(-25%);
    width: 50%;
    transform: translateY(-100%);
    height: 10%;
    display: flex;
    z-index: 1000;
    /* align-items: center;
    justify-content: space-around; */
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headeradjust{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.plus{
    position: absolute;
    top: 60%;
    left: 70%;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    background-color: #23fd77;
    color: whitesmoke;
    border: solid 1px whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.plussign{
    position: absolute;
    top: -45%;
    left: 10%;
}
.story,.reels{
    cursor: pointer;
    /* font-size: 17.6px; */
    font-size: 24px;
}
.topblock{
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 10%;
    display:flex;
    padding-top: 6.4px;
    justify-content:space-between;
}
.filterflow{
    position: absolute;
    z-index: 1000;
    top: 73%;
    left: 60%;
    width: 50%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translateX(-50%);
}
.reel-button-icon{
    /* height: 60px; */
    height: 72px;
    transform: scale(1.1);
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reelbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
}
.movingAnimation{
    animation-name: MovAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}
@keyframes MovAnimation
{
    from{

    }
    to{
        transform: scale(1.2);
    }

}
.ReelAnswer{
    font-size: 22px;
    font-weight: 700;
}
.sidemar{
    margin-left: 16px;
}