html{
    background-color: #1b1b1b;
    /* background-color: white; */
    font-size: 16px;
}
body{
    /* height: 100vh; */
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0%;
    user-select: none;
}
.HomePage{
    margin: 0%;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.logo-png{
    /* width: 11em; */
    width: 176px;
}
.logotext-png{
    width: 192px;
}

.transition{
    animation-name: Animate;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes Animate{
    from{

    }
    to{
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);
    }
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 80%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #07d;
    border-bottom-color: #07d;
    animation: spinner .8s ease infinite;
  }
  .hidden{
      display: none;
  }
.adjust{
    cursor: pointer;
    /* height: 40px; */
    height: 1.8em;
    border-radius: .5em;
    border: solid 2px white;
}
.light{
    color: rgba(170, 170, 170, 0.637);
}
.imgPic{
    position: relative;
}
.row{
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.adjusticon{
    height: 35.2px;
}
/* @media (max-width:440px) 
{
    html{
        font-size: 15px;
    }
    .reels{
        margin-left: 1em;
    }

}
@media (max-width:403px) 
{
    html{
        font-size: 13px;
    }
    .reels{
        margin-left: .2em;
    }

} */
.Instagram-Page{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100vw;
    /* height: 100vh; */
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.translatex{
    animation-name: movex;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes movex{
    from{

    }
    to{
        transform: translateX(-100%);
        opacity: 0;
    }
}
.newtranslate{
    animation-name: moveright;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
@keyframes moveright{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
        opacity: 0;;
    }
}
.Instagram-Page-Header{
    height: 10%;
    position: relative;
    padding: .5em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    /* margin-bottom: .5em; */
    border-bottom: solid .1px rgb(124, 124, 124);
}
.Items-Pngs{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-size{
    /* height: 3.5em; */
    width: 7.5em;
}
.inputtext{
    height: 32px;
    width: 120%;
    background-color: #EFEFEF;
    border-radius: 8px;
    border: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px 5px 5px 35px;
    outline: none;
    font-size: 16px;
}
.searchbar{
    position: relative;
}
.set{
    position: absolute;
    top: 19%;
    left: 2%;
}
.instagram-icons{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
.iconadjust{
    height: 28.8px;
    cursor: pointer;
}
.sendParent,.homParent{
    position: relative;
}
.message{
    background-color: #ED4956;
    height: 20.8px;
    width: 20.8px;
    position: absolute;
    top: -25%;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 59%;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.activedot{
    position: absolute;
    top: 100%;
    left: 47%;
    background-color: #ED4956;
    height: 4.8px;
    width: 4.8px;
    border-radius: 50%;
}
.actualContent{
    display: flex;
    justify-content: center;
    position: relative;
}
.Hadjust{
    /* height:565px; */
    height: 90vh;
}
.videoContainer{
    position: relative;
}
.topVideoSection{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    padding: 8px 8px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.055);
    align-items: center;
}
.InstIcon{
    height: 1.5em;
}
.actualContent{
    padding: 0% 0% .5% 0% ;
    position: relative;
    background-color: white;
    /* height: 100%; */
    height: 90vh;
}
.reeltext{
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-left: 16px;
    font-weight: 600;
}
.feedbacksystem{
    position: absolute;
    top: 65%;
    left: 87%;
    display: flex;
    gap: 12.8px;
    flex-flow: column;
}
.feedbackAdjust{
    position: relative;
    z-index: 100;
    height: 25.6px;
    width: 25.6px;
}
.SepAdjust{
    height: 32px;
}
.likes,.comments,.send,.moreoption{
    display: flex;
    flex-flow: column;
}
.numberRep{
    color: white;
    margin-top: 1.6px;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.videoDetails{
    position: absolute;
    top: 97%;
    height: 14%;
    padding-left: 16px;
    width: 80%;
    transform: translateY(-97%);
    /* background-color: blueviolet; */
    display: flex;
    flex-flow: column;
    gap: 8px;
}
.topDetailing,.middleDetailing,.bottomdetailing{
    display: flex;
}
.topDetailing{
    /* padding-left: 1em; */
    align-items: center;
}
.pictitle{
    height: 28.8px;
    width: 28.8px;
    background-color: grey;
    border-radius: 50%;
}
.titleVideo,.followbutton{
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titleVideo{
    margin-left: 6.4px;
}
.followbutton{
    margin-left: 6.4px;
    padding: 3.2px 3.2px;
    box-sizing: border-box;
    border: solid 1px whitesmoke;
    border-radius: 3.2px;
    /* font-weight: 600; */
}
.middleDetailing{
    font-size: 13px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Musical-Note{
    height: 11.2px;
    width: 11.2px;
}
.Song-Name{
    font-size: 13px;
    margin-left: 6.4px;
    width: 224px;
    height: 20.8px;
    color: whitesmoke;
    overflow: hidden;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bottomdetailing{
    display: flex;
    align-items: center;
}
.MoveText-1{
    position: absolute;
    top: 0%;
    left: 105%;
    animation-name: movetext1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes movetext1{
    from{

    }
    to{
        left: -75%;
    }
}
.BackToReelImg{
    height: 30px;
}
.BackToReel{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}
@media (max-width:980px)
{
    .instagram-icons{
        display: none;
    }
    .Items-Pngs{
        justify-content: left;

    }
    .searchbar{
        margin-left: 100px;
    }
}