*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #040404;
}

img{
    --size:18px;
    width: var(--size);
    height: var(--size);
    margin-right: 1.2rem;
}

label{
    position: relative;
}

label input{
    font-size: 1rem;
    color: #f9f9f9;
    padding: 1rem 1.2rem 1rem 1.2rem ;
    min-width: 24rem;
    border-radius: 0.2rem;
    border:2px solid #7a7a7a56;
}
