* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans";
    user-select: none;
}

@font-face {
    font-family: "sans";
    src: url(font/sans.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #19172e;
}

.heading {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.container {
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
}

.counter {
    font-size: 4rem;
}

button {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    font-size: 1.2em;
    background: white;
    color: rgb(34, 34, 34);
    border: none;
    border-radius: 50px;
}

.increase {
    bottom: 10%;
    right: -15%;
}

.decrease {
    bottom: -15%;
    right: 10%;
}

footer {
    background-color: #19172e;
    text-align: center;
    color: white;
    font-size: 1rem;
    /*position: absolute;*/
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
    line-height: 3vh;
}

footer a:visited {
    color: inherit;
}

.left {
    display: flex;
    flex-direction: column;
}

.container {
    align-items: center;
    justify-content: center;
}

.heading {
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.reset, .save {
    cursor: pointer;
    color: white;
    padding: 20px;
    width: fit-content;
    margin: 25px;
    margin-left: 35px;
    box-shadow: 2px 2px 10px white;
}

.reset:hover, .save:hover {
    color: aquamarine;
}

.button {
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 0.5;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    margin-left: 200px;
    height: 300px;
}

.number {
    display: flex;
    flex-direction: column;
    height:100%;
    flex-wrap: wrap;
}
.num{
    color: white;
    margin: 10px;
    font-size:18px;
}
body{
    display: flex;
    flex-direction: column;
}

@media (max-width: 520px){
    .body{
        flex-direction: column;
    }
    body{
        height: auto;
    }
    .number{
        height: 200px;
    }
    .left {
        align-items: center;
    }

}

