*{
    margin: 0;
    padding: 0;
    font-family: "sans";    
}

@font-face {
    font-family: "sans";
    src: url(font/sans.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    background: #19172e;
    color: white;
}

h1{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    padding-top: 120px;
}

#start-button{
    position: absolute;
    cursor: pointer;
    color: #fff;
    background: #333;
    font-size: 1rem;
    padding: 15px;
    border: none;
    border-radius: 8px;
    bottom: 0;
    margin-bottom: 280px;
}

#start-button:active{
    background: #1e8e3e;

}

footer {
    text-align: center;
    color: white;
    font-size: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
    line-height: 3vh;
}

footer a:visited {
    color: inherit;
}