body {
    background: rgb(0, 0, 0);
}

#canvas {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    width: 700px;
    height: 300px;
    margin: 50px auto;
    border-radius: 25px;
}

#primary-number,
#secondary-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
}

#primary-number {
    border: solid 4px rgb(0, 0, 0);
    border-radius: 25px;
}

#secondary-number {
    border: solid 4px rgb(0, 0, 0);
    border-radius: 25px;
}

#add,
#equal {
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
}

input {
    border: solid 2px rgb(0, 0, 0);
    width: 150px;
    height: 30px;
    padding-left: 25px;
    border-radius: 15px;
}

button {
    width: 100px;
    height: 35px;
    margin: 5px;
    background: rgb(0, 0, 0);
    color: white;
    border: 1px solid lightgrey;
    border-radius: 25px;
}