.collectionCard {
    color: white;
    background-color: #1a1c1e;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 500px;
    margin-right: 30px;
}

.details {
    padding: 20px;
}

.name {
    font-size:  20px;
    font-weight: 900;
}
.collectionCard > img {
    width: 100%;
}

.wethImage {
    height: 23px;
    width: 15px;
}

.priceContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    object-fit: contain;
}


.price {
    margin-left: 5px;
    font-weight: 600;
}