*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(#FD5D5D 50%, #ffffff 50%);
}
#output{
    background-color: #ffffff;
    width: 80vmin;
    max-width: 500px;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 20px 50px rgba(4, 1, 22, 0.12);

}
#output div{
    margin: 16px 0;
}
span{
    color: #7861f8;
}