body{
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    /* background-color: rgb(255, 240, 212); */
    background: linear-gradient(135deg, #4203a9, #90bafc);

    

}

#nav{
    display: flex;
    height: 60px;
    padding: 0 40px;
    /* background-color: #f3aa4c; */
    background: linear-gradient(135deg, #6189d8, #e387a8);
}

#logo{
    display: flex;
    align-items: flex-start;
    width: 100px;
    height: 50px;
}

h1{
    margin: 0 0;
    display: flex;
    text-align: center;
    color: white;
}

#inputArea{
    display: flex;
    width: 100%;
    margin: 0 0;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    /* height: 10px; */
    /* background-color: white; */
}

#inputBox{
    display: flex;
    flex-flow: column;
    border-radius: 5px;;
}

input, textarea{
    width: 350px;
    padding: 15px;
    margin: 2px;
    display: flex;
    font-family: 'Shadows Into Semi Light', cursive;
    border:none;
    border-bottom: 2px solid rgb(240, 240, 240);
    transition: border-bottom 0.4s ease-in-out;
    outline:none;
    font-size: larger;
}

::placeholder{
    opacity: 0.5;
}

input{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
textarea{
    resize:none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

input:focus, textarea:focus{
    border-bottom: 2px solid #8585d6;
    
}

#add{
    position: relative;
    display: flex;
    width: 36px;
    height: 36px;
    top:-20px;
    left:-20px;
    padding-left: 9px;
    border-radius: 50%;
    font-size: 2em;
    color: white;
    border: none;
    margin: auto 5%;
    background-color: #7953cb;
    align-self:flex-end;
}

#add:hover{
    background-color: #866eba;
    cursor: pointer;
}

#notesArea{
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}

.note{
    display: flex;
    padding: 5px;
    width: 250px;
    background-color: white;
    height: 125px;
    margin: 15px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 8px;
    flex-flow: column;
}

.noteTitle{
    display: flex;
    height:30px;
    width: 250px;
    border-bottom: 2px solid rgb(240, 240, 240);
}

.titletext{
    display: flex;
    width: 210px;
    margin:0;
    align-self: flex-start;
    padding-left: 5px;;
}
.noteCont{
    display: flex;
    height:105px;
    width: 250px;
}

.btn {
    display: flex;
    justify-self: right;
    align-self: center;
    padding: 7px 8px;
    border: none; /* Remove borders */
    color: #71b3fb; /* White text */
    font-size: 18px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    outline: none;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    color: #d49542;
    background-color: #ebebeb;
  }

h1, h3{
    overflow: hidden;
}