@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.main{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    /* margin: 0; */
}
    
h1{
    text-align:center;
}

#data
{
    margin:2px;
}

option
{
    font-family: 'League Gothic', sans-serif;
}


a:visited{
    font-weight: bolder;
    color: aliceblue;
}

a{
    font-weight: bolder;
    color: aliceblue;
}

footer {
    text-align: center;
    /* color: white; */
    font-size: 1.25rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 520px;
    margin-bottom: 0;
    padding: 10px;
    line-height: 4vh;
    background-color:#25274D;
    position: fixed;
    position: sticky;
}
