@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.main{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

    
h1{
    text-align:center;
}

#data
{
    margin:2px;
}

option
{
    font-family: 'League Gothic', sans-serif;
}


a:visited{
    font-weight: bolder;
    color: aliceblue;
}

a{
    font-weight: bolder;
    color: aliceblue;
}

/* footer */
footer {
    background-color: #1c0930;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer a {
    color: white;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }
 