* {
  margin: 0;
  padding: 0;
}

body {
  background: #19172e;
  font-family: "sans";
}

@font-face {
  font-family: "sans";
  src: url("font/sans.ttf");
}

h1 {
  justify-content: center;
  text-align: center;
  font-size: 48px;
  color: black;
}

.section {
  padding: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f8f8ff !important;
  border-radius: 20px;
}

#color-picker {
  padding: 5px;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
  background: none;
  width: 35%;
}

.color-codes{
  text-align: center;
  padding: 10%;
}

.color-codes p{
  margin: 5%;
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 20px;
  min-width: 0;
  outline: none;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

footer {
  text-align: center;
  color: black;
  font-size: 1rem;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 5px;
  line-height: 3vh;
}

footer a:visited {
  color: inherit;
}
