* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background: #19172e;
    font-size: 40px;
    font-family: "sans";
}

@font-face {
    font-family: "sans";
    src: url(font/sans.ttf);
}

.main {
    background: #614385;
    background: -webkit-linear-gradient(to right, #516395, #614385);
    background: linear-gradient(to right, #516395, #614385);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.content {
    width: 300px;
    height: 365px;
    padding-top: 8px;
}

h1 {
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    padding-top: 10px;
    font-size: 2rem !important;
}

h5 {
    color: #fff;
    margin-top: 2rem;
    text-align: center;
}

#board {
    background-color: #260e44;
    width: 260px;
    height: 285px;
    border: 4px solid white;
    border-radius: 4px;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-left: 18px;
    margin-top: 5px;

}

#scoreBox {
    position: absolute;
    font-size: 14px;
    color: white;
    bottom: 11%;
    left: 30%;
    font-family: 'Press Start 2P', cursive;
}

#hiscoreBox {
    position: absolute;
    font-size: 14px;
    color: white;
    bottom: 5%;
    left: 16%;
    font-family: 'Press Start 2P', cursive;
}


.head {
    background: yellow;
    border: 2px solid rgb(26, 1, 26);
    transform: scale(1.02);
    border-radius: 9px;
}

.snake {
    background-color: rgb(0, 225, 255);
}

.food {
    background: red;
    border: .25vmin solid black;
    border-radius: 8px;
}

footer {
    text-align: center;
    color: white;
    font-size: 1rem !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
}

footer a:visited {
    color: inherit;
}