* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #19172e;
}

h1 {
  color: white;
  text-align: center;
  margin: 10px 0px;
  font-size: 35px;
}

.container {
  background-color: #8c9093;
  margin: 100px;
  border: 2px solid black;
  border-radius: 10px;
}

.swap {
  border-radius: 25px;
  padding: 11px;
  font-size: 20px;
  border: 2px solid black;
  background-color: black;
  color: aliceblue;
  cursor: pointer;
}

.swap:active {
  background-color: aliceblue;
  color: black;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 30px 10px;
}

.dropdown p {
  padding: 16px 0px 0px 18px;
  font-size: 20px;
}

.select-container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.select-container select {
  font-size: larger;
}

.select-container img {
  margin-right: 16px;
  width: 70px;
}

.currency {
  padding-left: 12px;
  font-size: larger;
  height: 80px;
}

#toinput {
  margin-left: 8px;
}

#toinput:read-only {
  background-color: white;
  color: black;
}

#msgg {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

@media (max-width:680px) {
  .container {
    margin: 0;
    margin-top: 5px;
  }

  .select-container {
    margin: 0px;
  }

  .select-container img {
    margin-right: 8px;
    width: 60px;
  }

  .swap {
    padding: 8px;
    font-size: 14px;
  }

  .currency {
    padding-left: 12px;
    font-size: medium;
    height: 40px;
    width: 150px;
  }

  #msgg {
    font-size: 25px;
    margin-bottom: 5px;
  }

  @media (max-width:390px) {
    .select-container select {
      font-size: medium;
    }

    .select-container img {
      margin-right: 8px;
      width: 40px;
    }

    .swap {
      padding: 5px;
      font-size: 10px;
    }

    .currency {
      width: 100px;
    }
  }
}