body {
    background-color: none;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
    width: 100vw; /* Set the width to 100% of the viewport width */
    max-width: 100%; /* Ensure the width doesn't exceed the viewport width */
    overflow-x: hidden; /* Hide horizontal overflow */
}

.track {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 0.5vw;
    padding: 1vw;
}

.square {
    height: 7vw;
    width: 7vw;
    text-align: center;
    font-size: 4vw;
    line-height: 7vw;
    border-radius: 20%;
}

.red { background-color: #ff6b6b; }
.blue { background-color: #74b9ff; }
.green { background-color: #55efc4; }
.yellow { background-color: #f9ca24; }
.purple { background-color: #a29bfe; }
.orange { background-color: #fdcb6e; }

.winning-track {
    color: #333;
    font-size: 5vw;
    font-weight: bold;
}

.winning-track .square {
    position: relative;
}

.winning-track .square::after {
    content: attr(data-letter);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.roll-button {
    display: block;
    margin: 1vw auto;
    font-size: 3vw;
    padding: 2vw 4vw;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.roll-button:hover {
    background-color: #2980b9;
}

.restart-button {
    display: block;
    margin: 1vw auto;
    font-size: 3vw;
    padding: 2vw 4vw;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.restart-button:hover {
    background-color: #27ae60;
}