* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 2000px;
  background-color: red;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Creaci%C3%B3n_de_Ad%C3%A1n_%28Miguel_%C3%81ngel%29.jpg);
  background-size: 100% auto;
  background-position: top center;
  background-attachment: fixed;
}

body {
  height: 100%;
  background-image: linear-gradient(#f6745a, transparent 70%);
  background-size: 100% 100%;
  mix-blend-mode: difference;
}