body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

.game-container {
    text-align: center;
}

.game-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #0095DD;
}

canvas {
    background-color: #333;
    border: 1px solid #000;
}

.controls {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}
