<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - TicTacToe</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <button onclick="createBoard()" id="create-board">Create a board</button>
    <button onclick="joinBoard()"id="join-board">Join the board</button>
    <script type="text/javascript" src="js/index.js" defer></script>
</body>
</html>