* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sans';
}

@font-face {
    font-family: 'sans';
    src: url(font/sans.ttf);
}

body {
    background-color: #19172e;
}

.container {
    width: 40%;
    min-width: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.container * {
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
}

.inputs-wrapper {
    background-color: #080808;
    padding: 30px 25px;
    border-radius: 8px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

input,
button {
    height: 50px;
    background-color: #ffffff;
    color: #080808;
    font-weight: 500;
    border-radius: 5px;
}

input {
    width: 60%;
    padding: 0 20px;
    font-size: 14px;
}

button {
    width: 30%;
    float: right;
}

.outputs-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.outputs-wrapper div {
    height: 100px;
    width: 100px;
    background-color: #080808;
    border-radius: 5px;
    color: #ffffff;
    display: grid;
    place-items: center;
    padding: 20px 0;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

span {
    font-size: 30px;
    font-weight: 500;
}

p {
    font-size: 14px;
    font-weight: 400;
}

footer {
    color: white;
    position: fixed;
    text-align: center;
    font-size: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    line-height: 3vh;
}

footer a:visited {
    color: inherit;
}

@media (max-width: 800px) {
    .container {
        width: 80%;
    }
}

.container #display {
    font-size: 20px;
    color: #fff;
    padding-bottom: 61px;
}

.container code {
    font-size: 0.875em;
    color: #d63384;
    word-wrap: break-word;
}

.hedi {
    justify-content: center;
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.foot {
    position: fixed;
}