@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

.container {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}

nav{
    background: #0a0220;
    color: #fff;
    padding: 1rem 0;
}

section.input{
    padding-top: 100px;
}

h2{
    text-align: center;
    font-size: 36px;
}

.font__wrap{
    display: flex;
    justify-content: center;
}

.input__wrap{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: 20px;
}

input{
    border: none;
    padding: 10px;
    font-size: 16px;
    min-width: 400px;
    outline: none;
}

button{
    background: #247e6a;
    color: #fff;
    height: 100%;
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;
}

section.data{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.loading{
    display: none;
}

section.data p.def {
    font-size: 20px;
    color: #203748;
    line-height: 1.6;
}

.suggested{
    background: #B794F4;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}

.audio{
    margin-top: 20px;
}