@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

[a],
[b],
[e] {
  position: absolute;
  z-index: 1;
}

[a] {
  top: -15%;
  min-width: 12rem;
  width: 30vw;
  left: -15%;
  filter: drop-shadow(-5px -5px 20px rgba(136, 99, 99, 0.6));
}

[b] {
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
  bottom: -20%;
  width: 40vw;
  min-width: 15rem;
  right: -15%;
}

[c] {
  z-index: -1;
  top: -6%;
  position: absolute;
  filter: drop-shadow(0 25px 10px rgba(0, 0, 0, 0.04));
}

[e] {
  height: 80vh;
  min-height: 20rem;
  filter: drop-shadow(-5px -5px 20px rgba(136, 99, 99, 0.6));
  top: -5%;
  left: -5%;
  transform: rotate(40deg);
}

header>div {
  margin: 4rem 0;
  z-index: 2;
}

.inner {
  display: flex;
  margin-top: 2rem;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.inner img {
  width: 100%;
}

[over] {
  overflow: hidden;
}

header,
.section1 {
  display: flex;
  position: relative;
  min-height: 100vh;
  z-index: 20;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
}

.section1:nth-child(1) {
  position: relative;
  z-index: -1;
}

.section1 {
  background-color: #E8DAFF;

}

a:not(footer a),
label {
  padding: 8px 25px;
  font-size: 1.2rem;
  display: block;
  width: fit-content;
  margin: 1rem auto;
  font-weight: 400;
  text-decoration: none;
  background: #FC7A1E;
  color: white;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
}

a:not(footer a):hover,
a:active:not(footer a),
label:hover {
  background: #d8691a;
}

header h1 {
  font-size: 5.5rem;
  font-weight: 400;
}

header div {
  text-align: center;
}

.section1 h1 {
  font-size: 3rem;
  font-weight: 500;
}

header p,
.section1 p {
  margin-top: 0.3rem;
  color: rgb(54, 54, 54);
  font-weight: 500;
  font-size: 1.2rem;
}

.text {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 5rem 1rem 5rem 0;
}

.text h1 {
  margin: 1rem 0;
}

.text p {
  margin: 1rem 0;
  width: 90%;
  font-size: 1.05rem;
}

.bold {
  font-weight: 600;
  color: rgb(14, 14, 14);
}

.plain {
  background-color: #f8f8f8;
}

.drag-area {
  margin-top: 7rem;
  margin-bottom: 3rem;
  border: 2px dashed #8A3FFC;
  height: 500px;
  width: 90vw;
  max-width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  background-color: #f8f8f88a;
  transition: .5s;
}

textarea {
  resize: none;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
  height: 25rem;
  margin: 1rem 0 0 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  font-weight: 500;
}

.textbox {
  display: flex;
  width: 90vw;
  margin: 4rem 0;
  max-width: 700px;
  justify-content: space-between;
}

.btns {
  width: 90vw;
  display: flex;
  max-width: 700px;
  justify-content: space-between;
}

.textbox>div {
  width: 100%;
  margin: 1rem 1rem 0 1rem;
}

[hide] {
  display: none;
}

.drag-area h1 {
  font-size: 2rem;
  text-align: center;
}

.drag-area.active {
  transition: .5s;
  border: 2px solid #b61efc;
  background-color: #cabcdf;
}

.drag-area .icon {
  font-size: 100px;
  color: #FC7A1E;
}

.drag-area span {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(46, 46, 46);
  margin: 10px 0 15px 0;
}

.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#btn,
#reset,
#download {
  width: 100%;
  padding: 8px 25px;
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 400;
  background: #43d825;
  color: white;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.12);
}

.btns+div {
  width: 700px;
}

footer {
  background-color: #E8DAFF;
  position: relative;
  display: grid;
  place-items: center;
}

[d] {
  position: absolute;
  bottom: 0;
  width: 100vw;
  filter: drop-shadow(0 -13px 10px rgba(0, 0, 0, 0.04));
}

footer div {
  z-index: 2;
  font-size: 1.3rem;
  margin: 5rem 0;
  color: rgb(218, 218, 218);
}

footer div img {
  height: 2rem;
  margin: 0 5px -6px 5px;
}

footer a {
  color: rgb(218, 218, 218);
}

#btn {
  background-color: #0099ff;
  margin-right: 1rem;
}

#reset {
  font-weight: 500;
  background-color: #ffffff;
  color: rgb(78, 78, 78);
}

textarea+div {
  display: flex;
}

.textbox h1 {
  font-size: 2.2rem;
}

:disabled {
  box-shadow: none !important;
  background-color: rgb(170, 170, 170) !important;
  cursor: not-allowed !important;
  color: white !important;
}

#download:hover {
  background: #28a010;
}

#btn:hover {
  background: #007acc;
}

#reset:hover {
  background: #dddddd;
}

footer {
  background-blend-mode: darken;
  background-image: url(img/wave.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

@media screen and (max-width:768px) {
  .inner,
  .textbox {
    flex-direction: column;
  }

  .textbox {
    margin-bottom: -10px;
  }

  .inner img {
    width: 50%;
    min-width: 20rem;
  }

  .text {
    margin: 1rem 2.5rem 0 2.5rem;
  }

  .text p {
    margin: 1rem 0;
    width: 100%;
    font-size: 1.05rem;
  }

  [i] {
    text-align: center;
  }

  .textbox>div {
    margin: 0 0 2.2rem 0;
  }

  .drag-area {
    height: auto;
  }

  textarea {
    margin: 0;
  }
}

@media screen and (max-width:450px) {
  header h1 {
    font-size: 3.5rem;
    font-weight: 400;
  }

  header div {
    padding: 10px;
  }

  .text {
    margin: 1rem 1.5rem 0 1.5rem;
  }

  .drag-area {
    margin-top: 3rem;
  }
}