body {
    font-family: Arial, sans-serif;
    background-color: #141b41; 
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    width: 300px;
    margin: 20px;
    padding: 20px;
    padding-right: 35px;
    background-color: #1f2957; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .bigcontainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #calculator,
  #info {
    display: inline-block;
    width: calc(50% - 5px);
    vertical-align: top;
  }
  #info {
    padding-top: 1px; 
  }
  #calculator input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #253966; 
    color: #fff;
  }
  #calculateBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0047ab; 
    color: #fff;
    cursor: pointer;
  }
  #result {
    margin-top: 20px;
  }
  