@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

.main{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

    
h1{
    text-align:center;
}

#data
{
    margin:2px;
}

option
{
    font-family: 'League Gothic', sans-serif;
}


a:visited{
    font-weight: bolder;
    color: aliceblue;
}

a{
    font-weight: bolder;
    color: aliceblue;
}