body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(to bottom right, rgba(47,47,47,1) 20%, rgba(0,0,0,1) 70%);
    flex-direction: column;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vw;
    max-width: 600px;
    max-height: 600px;
    flex-direction: column;
    box-sizing: border-box;
}

#othelloBoard {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid transparent;
    box-sizing: border-box;
    border-color: #000000;
}

.square {
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #0D776D;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 1px solid rgba(96, 149, 159, 0.739);
}

.piece {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
}

.piece.black {
    background-color: #000000;
}

.piece.white {
    background-color: #ffffff;
}

.legal-square {
    position: relative;
    cursor: pointer;
}

.legal-square::before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    border: 4px solid #e8c0edb3;
    background-color: transparent;
    border-radius: 50%;
    top: 40%;
    left: 40%;
}

.legal-square:hover {
    opacity: 0.7;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.flip {
    animation: flip 0.5s linear;
}

#whiteScore, #blackScore {
    display: flex;
    width: 90%;
    background-color: rgb(42, 42, 42);
    color: white;
    text-align: center;
    height: 10%;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    box-sizing: border-box;
    position: relative;
    font-size: 25px;
}

#blackScore {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#whiteScore {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#whiteScore::after, #blackScore::after {
    font-family: "FontAwesome";
    content: "\f111";
    color: #c3c3c3;
    margin-left: 10px;
    font-size: 15px;
}

#whiteScore.active::after, #blackScore.active::after {
    font-family: "FontAwesome";
    content: "\f111";
    color: #3dff24;
    margin-left: 10px;
    font-size: 15px;
}

#alert {
    position: fixed;
    top: 44%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    color: #EAAC48;
    width: 45vw;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
    z-index: 1000;
    display: none;
}

#restartButton {
    background-color: #41da49;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#restartButton:hover {
    background-color: #4CAF50;
}


@media (min-width: 600px) {
    .container {
        width: 500px;
        height: 500px;
    }
    #alert {
            width: 200px;
            font-size: 2em;
        }
}

@media (min-width: 800px) {
    .container {
        width: 600px;
        height: 600px;
    }
    #alert {
        width: 500px;
        font-size: 3em;
    }
}
