@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --error-color: #dc3545;
  --success-color: #28a745;
  --warning-color: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #19172e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.form {
  padding: 10px 20px;
}

.form h1 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 5px;
}

.form-field label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-field input {
  border: solid 2px #f0f0f0;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  display: block;
  width: 100%;
}

.form-field input:focus {
  outline: none;
}

.form-field.error input {
  border-color: var(--error-color);
}

.form-field.success input {
  border-color: var(--success-color);
}

.form-field small {
  color: var(--error-color);
  font-size: 0.8em;
}

.submit-btn {
  width: 100%;
  background-color: #370e87;
  color: #fff;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: #5c1ed5;
  cursor: pointer;
}

.submit-btn:focus {
  outline: none;
}

footer {
  color: pink;
  font-size: 1rem;
  padding: 22px;
  line-height: 3vh;
  margin-top: 30px;
}

footer a {
  color: inherit;
}

footer a:visited {
  color: inherit;
}
