*{ margin:0px;
   padding:0px; }

.top{ border: 1px solid black;
      width:100%;
      height:45px; 
      font-size:60px;
      text-shadow:5px 5px 5px blue;
      line-height:60px;
      text-align:center;
      margin-top:15px;
      color:red; }

.he:hover{ font-size:80px;
           color:blue;
           text-shadow:5px 5px 10px red; }

.side{ width:100%; }

table{ border-collapse:collapse;
       border:5px solid blue; } 

td { border:5px solid blue;
     width:120px;
     height:100px; }


.A, .B, .C, .D, .E, .F, .G, .H, .I, .J, .K, .L, .M, .N, .O{ background-color:black;
                                                            line-height:100px; 
                                                            text-align:center;
                                                            width:100%;
                                                            height:100%; 
                                                            font-size: 4em; }

.xyz{ background-color:grey;
      color:red; }
