body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e43535;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    
}
.game-container h3{
    text-align: center;
    margin-top: 35px;
}

.bowl {
    width: 100px;
    height: 100px;
    background-color: rgb(201, 207, 32);
    border-radius: 50%;
    border: 2px solid black;
    display: table-column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
}

.ball {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    display: none;
    justify-content: space-between;
    position: absolute;
    
}
.bowl:hover{
    transform: scale(1.1);
    transition: .1s;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    border-radius:20px ;
    border: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    background-color: rgb(59, 236, 14);
    transform: scale(1.1);
    transition: .1s;
}
