* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "sans";
  src: url(font/sans.ttf);
}

body {
  font-family: "sans";
  color: white;
  background: rgb(111,18,47);
  background: linear-gradient(332deg, rgba(111,18,47,1) 0%, rgb(34, 103, 182) 100%);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
  font-size: 2rem;
  padding: 2%;
}

h4 {
  padding: 2%;
}

img {
  width: 100%;
  border-radius: 2%;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

.container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.item {
  padding: 10px;
  flex: 50%;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, rgb(62, 120, 185));
  border-radius: 12px;
}

::-webkit-scrollbar-track{
  background: black;
}

footer {
  /* background-color: #19172e; */
  text-align: center;
  color: white;
  font-size: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 5px;
  line-height: 3vh;
}

footer a:visited {
  color: inherit;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
