* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "sans";
  src: url(font/sans.ttf);
}

body {
  font-family: "sans";

}

/* Preloader */
#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99999;
}
.one {  
   background-image: url(bg2.jpg);
   background-attachment: fixed
}
.one h1{
  color: aquamarine;
  font-family:cursive ;
  font-size: 80px;
  
}
.one 


.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}


.toggleButton {
  position: absolute;
  top: 0;
  margin: 10px 3px 3px 10px;
  padding: 3px;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  left: 0;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  padding: 5vh 7vw;
}

@media only screen and (max-width: 658px) {

  h1 {
    font-size: 1.6em;
    padding: 32px 40px;
  }

}

h4 {
  padding: 2%;
  float: left;
  font-size: x-large;
}

i{
  color: white;
  float: right;
  font-size: 30px;
  padding: 2%;
}

img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 80%;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

.container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.item {
  flex: 50%;
  width: 100%;
  height: 100%;
  background-color: aqua;
  

  box-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 2px 3px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  transition: transform .3s ease-in-out 0s;
}

.item:hover {
  transform: scale3d(1.05, 1.05, 1);
  /* border: 1px solid #ffffff; */
  background-color: brown;
  filter: drop-shadow(10px);
  filter: contrast(110%);
}
.item h4:hover{
  color: plum
}
.item a h4{
  color: peru;

}


.main {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 24px;
  row-gap: 24px;
  margin: auto;
  
}

.main a {
  text-decoration: none;
}

footer {
  background-color: #19172e;
  text-align: center;
  color: white;
  font-size: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 10px;
  line-height: 3vh;
  margin-top: 30px;
}

footer a {
  color: white !important;

}

footer a:visited {
  color: white !important;

}


@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.scrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #5520b6;
  border-radius: 50%;
}

.scrollToTop span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  border: 8px solid transparent;
  border-bottom-color: white;
}

.scrollToTop:hover {
  background-color: #5836D8;
}

input {
  background-color: lightpink;
  border-radius: 3rem;
  padding: 10px;
  width: 15%;
  position: absolute;
  top: 6.5%;
  right: 7%;
  
}
h2{
  color: darkorange;
  font-size: xx-large;
}

@media(max-width:1000px) {
  input {
    position: relative;
    align-items: center;
    margin-bottom: 3%;
    left: 35%;
    width: 25%
  }
}
